<div class="wrapper">

  <div class="logo">
    <img routerLink="/home" src="./assets/icons/icon-movie.png">
  </div>

  <div class="login-container">
    <p class="name-form">Sign Up</p>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div class="fields-container">
        <input class="name-field" type="text" formControlName="name" placeholder="Name">

        <input class="email-field" type="text" formControlName="email" placeholder="Email address">

        <input class="password-field" type="password" formControlName="password" placeholder="Password">
      </div>

      <button class="signUp-btn" type="submit">Create an account</button>

      <div class="link-container">
        <p>Already have an account?</p>
        <a class="link" routerLink="/login">Login</a>
      </div>

    </form>

  </div>
</div>
