.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .logo {
    position: absolute;
    left: 50%;
    top: 80px;

    cursor: pointer;

    transform: translateX(-50%);
  }

  .login-container {
    height: 375px;
    width: 400px;

    margin: auto;
    padding: 32px;
    border-radius: 20px;

    color: #fff;
    background: #161D2F;


    .name-form {
      font-size: 36px;
      margin: 0 0 40px 0;

      font-weight: 100;
    }


    .fields-container {
      display: flex;
      flex-direction: column;

      margin-bottom: 40px;

      .name-field,
      .email-field,
      .password-field {
        border: 0;
        padding: 10px;
        margin-bottom: 25px;

        font-size: 14px;

        color: #fff;
        background: #161D2F;
        border-bottom: 2px solid #5A698F;

        font-family: 'Outfit', sans-serif;

        transition: border-color 0.3s;
      }

      .name-field:hover,
      .email-field:hover,
      .password-field:hover {
        border-color: #fff;
      }

      .name-field:focus,
      .email-field:focus,
      .password-field:focus {
        outline: none;
        caret-color: #FC4747;
      }

      .password-field {
        margin-bottom: 0;
      }
    }


    .signUp-btn {
      width: 100%;
      height: 50px;

      font-weight: 100;

      border: 0;
      border-radius: 7px;

      color: #fff;
      background: #FC4747;
      cursor: pointer;

      font-family: 'Outfit', sans-serif;
      transition: background 0.5s, color 0.5s;
    }

    .signUp-btn:hover {
      color: #000000;
      background: #fff;
    }

    .link-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .link {
        color: #FC4747;
        text-decoration: none;

        transition: color 0.3s;
      }

      .link:hover {
        color: #fff;
      }
    }
  }
}

::ng-deep .error-snackbar {
  margin: 0 !important;
  position: fixed !important;

  color: white;
  background-color: #FC4747;
}


@media (max-width: 768px) {

  .wrapper {
    .logo {
      top: 48px;
    }

    .login-container {
      width: 70%;
      height: auto;

      padding: 25px;
    }
  }

}
