@import '../../../styles';

.wrapper {

  .user-container {
    padding: 30px;
    border-radius: 20px;

    background-color: $semi-dark-blue;

    .home-container {
      display: flex;
      justify-content: end;

      .svg-icon {
        font-size: 40px;

        cursor: pointer;
        border-radius: 30%;
        color: $greyish-blue;
        transition: color 1s;
      }

      .svg-icon:hover {
        color: $pure-white;
      }
    }

    .user-info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      gap: 20px;

      .user-image img {
        width: 100px;
        height: 100px;

        border-radius: 30%;
        border: 2px solid $greyish-blue;
      }

      .user-description {
        color: $pure-white;

        p {
          font-weight: 700;

          span {
            font-weight: 100;
          }
        }
      }
    }

    .settings-container {
      margin: 20px 0;
      padding: 20px 0;
      color: $pure-white;
      border-top: 2px solid $greyish-blue;
      border-bottom: 2px solid $greyish-blue;

      p {
        margin-top: 0;
        font-weight: 700;
      }

      .lang-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        button {
          width: 150px;
          height: 30px;
          border-radius: 5px;
          border: none;
          color: $pure-white;
          background-color: $red;
          cursor: pointer;
          transition: background-color 1s, color 1s;
        }

        button:hover {
          color: $black;
          background-color: $pure-white;
        }
      }
    }

    .logout-btn {
      width: 150px;
      height: 30px;
      border-radius: 5px;
      border: none;
      color: $pure-white;
      background-color: $red;
      cursor: pointer;
      transition: background-color 1s, color 1s;
    }

    .logout-btn:hover {
      color: $black;
      background-color: $pure-white;
    }
  }
}

@media (max-width: 768px) {

  .wrapper {
    .user-container {

      padding: 15px;

      .home-container {

        .svg-icon {
          font-size: 25px;
        }
      }

      .user-info {

        .user-image {
          width: 50px;
          height: 50px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .user-description {
          font-size: 12px;
        }
      }

      .settings-container {

        p {
          font-size: 12px;
        }

        .lang-container {
          button {
            width: 100px;
            height: max-content;

            font-size: 12px;
          }
        }
      }

      .logout-btn {
        width: 100px;
        height: 20px;

        font-size: 12px;
      }
    }
  }
}
