@import '../../../styles';

.wrapper {
  .user-container {
    .back-button-container {
      display: inline-block;
      position: relative;

      .btn-back {
        display: flex;
        gap: 5px;
        align-items: center;
        padding-left: 0;

        color: $greyish-blue;
        background-color: #10141E;
        border: none;
        font-weight: 600;

        cursor: pointer;
        transition: transform 0.3s ease;
      }

      .btn-back:hover {
        color: $pure-white;
        transform: translateX(5px);
      }
    }

    .user-info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      margin-top: 15px;
      gap: 20px;

      .user-image img {
        border-radius: 10px;
      }

      .user-description {
        color: $pure-white;

        p {
          font-size: 20px;
          font-weight: 500;

          span {
            color: $greyish-blue;;
            font-weight: 100;
          }
        }
      }
    }

    .settings-container {
      margin: 20px 0;
      padding-bottom: 20px;
      color: $pure-white;
      border-top: 2px solid $greyish-blue;
      border-bottom: 2px solid $greyish-blue;

      p {
        margin-top: 0;

        font-size: 20px;
        font-weight: 500;
      }

      p:first-child {
        font-size: 25px;
      }

      .lang-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .language {
          display: flex;
          align-items: center;

          p {
            margin: 0;

            font-size: 16px;
          }
        }

        nz-select {
          ::ng-deep .ant-select-selector {
            width: 150px;

            color: $pure-white;
            border-color: $greyish-blue;
            background-color: $semi-dark-blue;
          }

          ::ng-deep .ant-select-selector:hover {
            box-shadow: 0 0 0 2px $greyish-blue;
          }

          ::ng-deep .ant-select-arrow {
            color: $pure-white;
          }

          ::ng-deep .ant-select-item {

          }
        }


      }
    }

    .logout-btn {
      width: 150px;
      height: 30px;
      border-radius: 5px;
      border: none;
      color: $pure-white;
      background-color: $red;
      cursor: pointer;
      transition: background-color 1s, color 1s;
    }

    .logout-btn:hover {
      color: $black;
      background-color: $pure-white;
    }
  }
}

@media (max-width: 768px) {

  .wrapper {
    .user-container {
      .home-container {

        .svg-icon {
          font-size: 25px;
        }
      }

      .user-info {
        .user-image {
          img {
            width: 100%;
            height: 100%;
          }
        }

        .user-description {
          p {
            font-size: 12px;
          }
        }
      }

      .settings-container {
        p {
          font-size: 12px;
        }

        .lang-container {
          button {
            width: 100px;
            height: max-content;

            font-size: 12px;
          }
        }
      }

      .logout-btn {
        width: 100px;
        height: max-content;

        font-size: 12px;
      }
    }
  }
}
