<div class="wrapper">
  <div class="user-container">

    <div class="home-container">
      <i class="ph ph-house svg-icon" routerLink="/home"></i>
    </div>

    <div class="user-info">

      <div class="user-image">
       <img src="{{loggedInUser.picture}}">
      </div>

      <div class="user-description">
        <p>{{'name' | transloco}}: <span>{{loggedInUser.name}}</span></p>
        <p>{{'email' | transloco}}: <span>{{loggedInUser.email}}</span></p>
      </div>

    </div>

    <div class="settings-container">

      <p>{{'settings' | transloco}}</p>

      <div class="lang-container">
        <button class="text-accent" (click)="changeLanguage('en')">{{'english' | transloco}}</button>
        <button class="text-accent" (click)="changeLanguage('uk')">{{'ukrainian' | transloco}}</button>
      </div>

    </div>

    <button class="logout-btn" (click)="_auth.logout()">{{'logout' | transloco}}</button>



  </div>
</div>
