@import '../../../styles';

.back-button-container {
  margin-bottom: 10px;

  nz-breadcrumb {
    font-size: 20px;

    ::ng-deep .ant-breadcrumb-link {
      cursor: pointer;
      color: $greyish-blue;
    }

    ::ng-deep .ant-breadcrumb-link:hover {
      color: $pure-white;
    }

    ::ng-deep nz-breadcrumb-separator {
      color: $greyish-blue;
    }
  }

  ::ng-deep nz-breadcrumb-item:last-child .ant-breadcrumb-link {
    color: $pure-white;
  }
}

.movie {
  .movie-info {
    display: flex;
    border-bottom: 3px solid $greyish-blue;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .movie-img {
      img {
        height: 350px;
        border-radius: 10px;
      }
    }

    .movie-description {
      width: 100%;
      font-size: 18px;
      padding-left: 10px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .short-header {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        h1 {
          font-size: 30px;
          line-height: 30px;
          color: $pure-white;
        }

        .rating {
          width: 80px;
          height: 30px;
          border-radius: 10px;

          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 14px;
          background-color: $red;

          p {
            margin: 0;
            color: $dark-blue;
          }
        }
      }

      .release-date {
        span:last-child {
          font-weight: lighter;
          color: $greyish-blue;
        }
      }

      .genres,
      .production-countries {
        span {
          font-weight: lighter;
          color: $greyish-blue;
        }
      }

      .btn-group {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        button {
          min-width: 80px;
          background: none;
          border: 1px dotted $greyish-blue;
          border-radius: 10px;

          cursor: pointer;
          color: $pure-white;
          transition: background-color 0.4s, color 0.4s;
        }


        button:active,
        button.saved {
          border: none;

          color: $dark-blue;
          background-color: $red;

          font-weight: 700;
        }
      }
    }
  }

  .description {
    p {
      font-size: 22px;
      font-weight: 100;
      line-height: 30px;
    }
  }

  .video {
    display: flex;
    justify-content: center;

    iframe {
      width: 50%;

      border-top: 10px solid $semi-dark-blue;
      border-bottom: 10px solid $semi-dark-blue;
      border-left: 2px solid $semi-dark-blue;
      border-right: 2px solid $semi-dark-blue;
      border-radius: 10px;
    }
  }
}

.footer {
  display: none;
}



@media (max-width: 768px) {

  .back-button-container {
    margin-top: 10px;
    margin-bottom: 0;

    nz-breadcrumb {
      font-size: 15px;
    }
  }

  .movie {
    .movie-info {
      margin-top: 20px;

      .movie-img {
        img {
          height: 200px;
        }
      }

      .movie-description {
        justify-content: space-between;

        font-size: 12px;

        .short-header {

          h1 {
            font-size: 20px;
            line-height: 24px;
          }

          .rating {
            width: 50px;
            height: 20px;
            border-radius: 5px;
            font-size: 8px;
            font-weight: 700;
          }
        }

        .short-list{
          p {
            margin: 0;
          }
        }

        .btn-group {
          margin-top: 10px;

          button {
            min-width: 50px;
            font-size: 10px;
          }
        }
      }
    }

    .description {
      p {
        font-size: 16px;
        line-height: 25px;
      }
    }

    .video {
      display: block;

      iframe {
        width: 100%;
      }
    }
  }

  .footer {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    position: absolute;
    top: -1;
    left: 0;
    background-color: $semi-dark-blue;
  }
}
