<div class="wrapper">

  <div class="logo">
    <img src="./assets/icons/icon-movie.png">
  </div>

  <div class="login-container">
    <p class="name-form">Login</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="fields-container">
        <input class="email-field" type="text" formControlName="email" placeholder="Email address">

        <input class="password-field" type="password" formControlName="password" placeholder="Password">
      </div>

      <button class="login-btn" type="submit">Login to your account</button>

      <div class="link-container">
        <p>Don’t have an account?</p>
        <a class="link" routerLink="/sign-up">Sign Up</a>
      </div>

    </form>

  </div>
</div>
