<div class="wrapper">
  <div class="sidebar">
    <div class="inner-container">
      <div class="main-route">

        <div class="logo">
          <img
            routerLink="/home"
            (click)="scrollToTop()"
            src="assets/icons/icon-movie.svg">
        </div>

        <div class="icons">
          <img
            routerLink="/home"
            src="assets/icons/icon-home.svg"
            [ngStyle]="{'filter': isCurrentPage('/home') ? 'brightness(350%)' : 'none'}">
          <img
            routerLink="/movies"
            src="assets/icons/icon-movies.svg"
            [ngStyle]="{'filter': isCurrentPage('/movies') ? 'brightness(350%)' : 'none'}">
          <img
            routerLink="/tv"
            src="assets/icons/icon-tv.svg"
            [ngStyle]="{'filter': isCurrentPage('/tv') ? 'brightness(350%)' : 'none'}">
          <nz-badge nzSize="small" [nzCount]="savedMovies">
            <img
              routerLink="/bookmarks"
              src="assets/icons/icon-bookmarks.svg"
              [ngStyle]="{'filter': isCurrentPage('/bookmarks') ? 'brightness(350%)' : 'none'}">
          </nz-badge>
        </div>
      </div>


      <div class="user-image" *ngIf="_auth.isAuthenticated$ | async" routerLink="/account">
        <img src="{{loggedInUser.picture}}">
      </div>

      <div class="user-image" *ngIf="!(_auth.isAuthenticated$ | async)">
        <i class="ph ph-user svg-icon" (click)="_auth.loginWithPopup()"></i>
      </div>
    </div>
  </div>


  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
