@import '../../../styles';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .text {
    margin: 100px auto;

    p {
      max-width: 450px;
    }
  }

  &__search {
    nz-input-group {
      height: 32px;
      padding: 0;
      gap: 28px;
      border: none;
      background-color: $dark-blue;

      input {
        font-size: 24px;
        border-radius: 0;
        color: $pure-white;
        background-color: $dark-blue;

        &:focus {
          box-shadow: 0 2px $greyish-blue !important;
        }
      }

      span {
        font-size: 25px;
        color: $pure-white;
      }
    }

    .ant-input {
      caret-color: $red;
    }

    .ant-input-affix-wrapper {
      flex-direction: row-reverse;

      &-focused {
        box-shadow: none !important;
      }
    }
  }

  .movie__container {
    .message {
      display: flex;
      justify-content: flex-start;
      margin-top: 35px;

      p {
        margin: 0;
        font-size: 24px;
        text-align: left;
        font-weight: 100;
      }
    }

    .movies {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 16px;

      .card {
        background-color: #5a698f;
      }

      .movie-image {
        width: 100%;
        height: auto;
      }
    }

  }


}

@media (max-width: 768px) {
  .wrapper {

    &__search {

      nz-input-group {
        input {
          font-size: 12px;
        }

        span {
          font-size: 20px;
        }
      }
    }

    .movie__container {
      .message {
        margin-top: 24px;

        p {
          font-size: 14px;
        }
      }

      .movies {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 16px;
      }
    }
  }
}
