@font-face {
  font-family: 'Outfit';
  src: url('./assets/Outfit/static/Outfit-Light.ttf') format('truetype'),
  url('./assets/Outfit/static/Outfit-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$pure-white: #ffffff;

$red: #FC4747;
$dark-blue: #10141E;
$greyish-blue: #5A698F;
$semi-dark-blue: #161D2F;
$black: #000000;

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: $pure-white;
  background-color: $dark-blue;
}
